/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, banner and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

body {
  line-height:normal;
}

button,
.button {
  border-radius:3px;
  box-shadow:0 1px 0 0 rgba(0,0,0,0.60);
}

$green: $primary-color;
$blue: #00a5e0;
$express-blue: #065e79;
$red: $alert-color;
$orange: $warning-color;


/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

a p {
  color:$body-font-color;
}


/**
 * 3.0 Header, banner and footer
 * ----------------------------------------------------------------------------
 */

  .f-topbar-fixed {
    padding-top:0 !important;
  }
  @media #{$large-up} {
    .contain-to-grid {
      position:fixed;
      z-index:99;
    }
    .contain-to-grid {
      background-color:transparent;
    }
  }
  .top-bar,
  .top-bar.expanded .title-area,
  .top-bar-section .search-bar,
  .top-bar-section ul {
    background-color:transparent;
  }
  .top-bar.expanded {
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.1);
  }
  .contain-to-grid.fixed {
    .top-bar {
      box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.1);
    }
    @media #{$large-up} {
      box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.1);
      .top-bar {
        box-shadow:none;
      }
    }
  }
  
  .top-bar-container,
  .tab-bar {
    margin-bottom: 0;
  }
  
  .top-bar .name h1 a {
    padding: 0;
    width: 167px;
    background-image:url(../assets/img/logo.png);
    background-repeat:no-repeat;
    background-position:left 0;
    text-indent:-9999px;
    overflow:hidden;
    background-size:167px auto;
    height:50px;
    margin-top:24px;
    margin-left:10px;
    
    .invert-banner & {
      background-position:left -50px;
    }
    
    @media #{$medium-up} {
      width: 250px;
      height:75px;
      background-size:250px auto;
      
      .invert-banner & {
        background-position:left -75px;
      }
    }
  }
  .svg .top-bar .name h1 a {
    background-image:url(../assets/img/logo.svg);
  }
  
  @media #{$large-up} {
    .top-bar-section .top-bar-menu {
      margin-right:35px;
      float:right;
    }
  }
  
  @media #{$large-up} {
    .top-bar-section {
      margin-right:1.25rem;
       ul {
        background-color:transparent;
        .has-dropdown.active > a:after {
          border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }
      }
    }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      margin-top: -9px;
      opacity:0.5;
    }
    .top-bar-section > ul > li.has-dropdown:hover > a:before {
      content:'';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px 7px;
      border-color: rgba( $body-font-color, 0 ) rgba( $body-font-color, 0 ) $body-font-color rgba( $body-font-color, 0 );
      position:absolute;
      left:50%;
      top:30px;
      margin-left:-7px;
      -moz-transform: scale(.9999);
    }
    .top-bar-section > ul > .divider,
    .top-bar-section > ul > [role="separator"] {
      border: none;
      height: auto;
    }
    .top-bar-section > ul > li {
      margin-top:48px;
    }
    .top-bar-section > ul > li:not(.has-form) > a:not(.button),
    .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
      line-height: 27px;
      border-radius:14px;
      padding-left:10px;
      padding-right:10px;
      font-size:17px;
    }
    .top-bar-section li:not(.has-form) a:not(.button) {
      background-color:transparent;
    }
    .top-bar-section .has-dropdown > a {
      padding-right: 18px !important;
    }
    .top-bar-section .has-dropdown > a:after {
      margin-top: -36px;
      margin-right:7px;
    }
    
    .top-bar-section > ul > li > .sub-menu {
      padding-top:10px;
      
      li:not(.has-form) a:not(.button),
      li.active:not(.has-form) a:not(.button) {
        line-height: 26px;
        padding: 6px 22px 6px 16px;
        font-size:15px;
      }
      
      li:not(.has-form) a:not(.button):hover,
      li.active:not(.has-form) a:not(.button):hover {
        background-color:darken( $body-font-color, 5% );
        color:#fff;
      }
    }
  }
  
  .top-bar .toggle-topbar.menu-icon {
    margin-top: -44px;
  }
  
  @media #{$small-only} {
    .top-bar .toggle-topbar.menu-icon {
      right:20px;
    }
  }
  
  .top-bar-section .search-bar {
    padding:12px 40px;
    #searchform {
      input,
      .button,
      button {
        padding-top:6px;
        padding-bottom:6px;
        border-radius:0;
        box-shadow:none;
        line-height:normal;
      }
    }
    @media #{$large-up} {
      float:right;
      width:25px;
      padding:0;
      .icon-search {
        background-color:$body-font-color;
        border-radius:50%;
        display:inline-block;
        text-align:center;
        width:25px;
        height:25px;
        padding-top:4px;
        color:$info-color;
        position:absolute;
        top:49px;
        right:0;
      }
      #searchform {
        position:absolute;
        width:300px;
        right:0;
        top: 60px;
        z-index:1;
        padding-top:24px;
        display:none;
        .row {
          background-color:$body-font-color;
          padding:5px;
          border-radius:3px;
          input,
          .button,
          button {
            top: auto;
          }
        }
        &:before {
          content:'';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7px 7px 7px;
          border-color: rgba( $body-font-color, 0 ) rgba( $body-font-color, 0 ) $body-font-color rgba( $body-font-color, 0 );
          position:absolute;
          right:4px;
          top:18px;
          -moz-transform: scale(.9999);
        }
      }
    }
    &:hover {
      #searchform {
        display:block;
      }
    }
  }
  
  .invert-banner {
    .top-bar-section ul li:not(.has-form) > a {
      color: #fff;
    }
    .top-bar-section li:not(.has-form) a:hover:not(.button),
    .top-bar-section ul li:hover:not(.has-form) > a {
      background-color:transparentize( $body-font-color, 0.8 );
    }
    .top-bar-section > ul > li.active:not(.has-form) > a:not(.button) {
      background-color: #fff;
    }
    .top-bar-section .search-bar .icon-search {
      background-color: #fff;
    }
    .top-bar .toggle-topbar.menu-icon a {
      color: #fff;
    }
    .top-bar .toggle-topbar.menu-icon a:after {
      box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    }
  }
  
  .banner,
  .container > div[role="banner"] {
    font-size:rem-calc(26);
  }
  .container > div[role="banner"] {
    margin-bottom:50px;
  }
  .banner {
    background-color:$info-color;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size: auto 100%;
    margin-bottom:30px;
    
    & > .row {
      padding-bottom:20px;
      
      @media #{$medium-up} {
        padding-top:40px;
        padding-bottom:60px;
      }
    }
    
    .invert-banner & {
      h1,
      .intro {
        color:#fff;
      }
    }
    
    h1 strong {
      font-weight:normal;
      color:$primary-color;
    }

    @media #{$small-only} {
      background-image:none !important;
    }

    @media #{$large-up} { 
      padding-top:122px;
    }
  }
  
  .secondary {
    background-color:$secondary-color;
  }
  
  .off-canvas-wrap {
    background-color:#fff;
  }
  
  #footer {
    background-color:$secondary-color;
    border-top:solid 5px $primary-color;
    padding-bottom:5px;
    .widget {
      margin-top:25px;
    }
    .sub-footer {
      font-size:rem-calc(13);
      .widget {
        padding-bottom:20px;
      }
    }
    .okf-footer {
      border-top: none;
      padding-top:0;
      padding-bottom:20px;
      ul {
        font-size: rem-calc(13);
        a {
          color:$body-font-color;
        }
      }
    }
  }


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */

	 // Hero

	#homepage-hero {
		position: relative;
		text-align: left;
		height: auto;
    h1 span:last-of-type {
      color:$primary-color;
    }
    h1 span:last-of-type:after {
      content:'.';
      color:$body-font-color;
    }
    .intro {
      margin-bottom:30px;
    }
    .button {
      margin-bottom:30px;
    }
	}
  @media only screen and (min-width: 50em) and (max-width: 64em) {
    #homepage-hero {
      background-position:right bottom;
    }
  }
  @media #{$large-up} { 
    #homepage-hero {
      background-size:auto auto;
      .row {
        height:573px;
        position:relative;
        .columns {
          position:absolute;
          bottom:40px;
          h1 {
            font-size:rem-calc(63);
            margin-bottom:15px;
          }
          .intro {
            margin-bottom:55px;
          }
        }
      }
    }
  }
  #homepage-hero.slider {
    padding:0;
    .orbit-content {
      li {
        display:block;
        height:695px;
        background-repeat:no-repeat;
        background-position:center bottom;
      }
    }
    .orbit-timer {
      display:none;
    }
    .text {
      position:absolute;
      top:122px;
      left:50%;
      margin-left:-($row-width/2);
    }
  }
  
  .row .row.feature-icons {
    margin-bottom:25px;
  }
  .feature-icon {
    @media #{$medium-up} {
      text-align:center;
    }
    @media #{$medium-up} {
      img + h2 {
        margin-top:-20px;
      }
    }
    h2 {
      font-size:rem-calc(26);
    }
    p {
      line-height:1.3;
    }
  }
  
  .home.page {
    .entry-content {
      position:relative;
      min-height:70px;
      &:before {
        content:'';
        display:block;
        width:607px;
        height:323px;
        background-image:url(../assets/img/laptop.png);
        position:absolute;
        top:-252px;
        left:437px;
      }
    }
  }
  
  
  .page-template-page-contact-php .secondary {
    padding-top:30px;
    padding-bottom:20px;
  }
  
  
  // Search
  .search-results .page {
    .updated,
    .author {
      display:none;
    }
  }
  
  
  //Tables
  .comparison-table {
    width:100%;
    background-color:$table-even-row-bg;
    
    td {
      background-color:#FFFFFF;
    }
    
    thead {
      background-color:transparent;
    
      .compare-item {
        text-align:center;
        background-color:$info-color;
        text-transform:uppercase;
        
        &.blue {
          background-color:$blue;
          color:#fff;
        }
        &.express-blue {
          background-color:$express-blue;
          color:#fff;
        }
        
        .has-tip {
          color:#fff;
          border:none;
        }
        
        @media #{$medium-up} {
          width:25%;
          padding-top:20px;
          padding-bottom:20px;
        }
      }
    }
    
    tbody {
      tr:hover {
        td {
          background-color:$green;
          color:#fff;

          &.no {
            background-color:$table-even-row-bg;
            color:$body-font-color;
          }
        }
      }
    
      .yes,
      .no {
        text-align:center;
        
        [class^="icon-"], [class*=" icon-"] {
          font-size:rem-calc(30);
        }
      }
      
      .yes {
        color:$primary-color;
      }
    }
  }
  
  //Panels
  .panel {
    border:none;
    line-height:1.4;
    
    p.icon {
      text-align:center;
      font-size:rem-calc(70);
      margin-bottom:rem-calc(8);
      line-height:1.2;
    }
    
    &.blue {
      background-color:transparentize($blue, 0.9);
      [class^="icon-"], [class*=" icon-"] {
        color:$blue;
      }
    }
    
    &.express-blue {
      background-color:transparentize($express-blue, 0.9);
      [class^="icon-"], [class*=" icon-"] {
        color:$express-blue;
      }
    }
  }
    

	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Fetch Tweets
  #footer {
    h3.fetch-tweets-widget {
      font-size:rem-calc(18);
    }
  }